
@{
    ViewBag.Title = "Theo dõi đơn hàng";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div class="breadcrumb-c clearfix d-block">
    <ul class="container-91">
        <li><a href="/">Trang chủ </a></li>
        <li class="dsfsd"><a href="#"> Theo dõi đơn hàng</a></li>
    </ul>
</div>

<div class="container-91 row my-2 mb-5">

    <div class="col-12">
        <div class="ml-2">
            <h2 class="my-4" style="text-align:center">THEO DÕI ĐƠN HÀNG</h2>
            <h5 class="information-text" style="text-align:center;">Nhập vào SĐT đặt hàng</h5>
            <div class="my-3">

            </div>

            <style>
                .form-contact input {
                    padding: 20px;
                    color: #333;
                }

                    .form-contact input::placeholder {
                        padding: 0;
                    }

                .form-contact textarea::placeholder {
                    padding: 0;
                }
            </style>

            <!--form-->
            <form action="" method="post">

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <input type="phone" name="phone" class="form-control rounded-0 py-4 bg-light" aria-describedby="emailHelp" placeholder="Nhập vào SDT đặt hàng" required="" style="">

                    </div>
                    <div class="col-md-4"></div>
                </div>

                <br style="margin-top:10px" />
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-dark ">
                            <small style="text-align:center">
                                XEM NGAY ĐƠN HÀNG
                            </small>
                        </button>
                    </div>
                    <div class="col-md-5"></div>
                </div>
                </form>
</div>
    </div>
</div>

