<div style="display:block;overflow:hidden;background:#f1f1f1;width:100%;max-width:640px;margin:auto">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom:6px solid #fdd504" bgcolor="#ffffff">
    </table>
    <table width="100%" border="0" cellpadding="10" bgcolor="#ffffff" style="padding-bottom:10px">
        <tbody>
            <tr>
                <td style="font-size:13px;color:#333;padding:10px 10px 0 10px">Chào anh/chị <b>{{FullName}}</b>,</td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellpadding="10px" bgcolor="#ffffff" style="padding-bottom:10px;background-color:#fff">
        <tbody>
            <tr>
                <td style="font-size:13px;color:#333;padding:5px 10px 10px 10px">Quản trị viên <b>{{AdminName}}</b> xin được phản hồi câu hỏi của anh/chị như sau :</td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="font-size:13px;color:#333;padding:10px">Chào anh/chị,<br>{{Reply}}</td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellpadding="10" bgcolor="#ffffff" style="padding-bottom:10px">
        <tbody>
            <tr>
                <td style="font-size:13px;color:#333;padding:20px 10px 10px 10px">
                    Câu hỏi trước của anh: <span style="font-style:italic">'{{RQ}}'</span>
                </td>
            </tr>
        </tbody>
    </table>
    <table bgcolor="#ffffff" width="100%" border="0">
        <tbody>
            <tr>
                <td style="font-size:13px;color:#333;padding:15px 10px 0 10px">Cảm ơn anh/chị {{FullName}} đã phản hồi về <a href="javascript::void(0)" style="color:#fdd504!important;text-decoration:none!important" target="_blank">pn</a>, cần thêm thông tin anh vui lòng liên hệ 0948.135.903 hoặc xem thêm các phản hồi khác tại <a href="javascript::void(0)" target="_blank">chu co link dau</a></td>
            </tr>
        </tbody>
    </table>

    <table bgcolor="#ffffff" width="100%" border="0">
        <tbody>
            <tr>
                <td style="float:right;text-align:center;color:#fdd504;padding:15px 10px 15px 0px">
                    {{AdminName}}<br>
                    Quản trị viên giadunghiendai.com
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellspacing="0">
        <tbody>
            <tr>
                <td style="display:block;overflow:hidden;background:#333;color:#fff;font-size:13px;padding:10px 10px 10px 20px">
                    <b style="display:block">Kinh doanh đồ gia dụng <a href="javascript::void(0)" style="color:#ffffff!important" target="_blank">giadunghiendai.com</a>- thuộc Công ty TNHH Gia Dụng</b>
                    <p>Địa chỉ: Việt Nam</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>