
@{
    ViewBag.Title = "404! Không tìm thấy trang";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="container-91 text-center my-5 py-5" style="min-height:500px">
    <h2>Không tìm thấy trang</h2>
    <small class="text-secondary">Xin lỗi, chúng tôi không tìm thấy trang này</small>
    <a href="/" class="text-decoration-none d-block text-dark my-4 count-b">Trở về trang chủ</a>
    <div style="width:70px;border-bottom:3px solid #333;" class="m-auto"></div>
</div>

<script>
    setTimeout(function () {
        window.location.href = "/";
    }, 9999);
</script>

