@model  IEnumerable<WebsiteBanTraiCay.Models.MOrder>

<div class="d-inline pr-3 text-uppercase" style="color:#ee4d2d; font-size:14px">
    @foreach (var i in Model)
    {
        { if (i.Status == 1)
            {
            <span>Chờ xử lý</span> 
            }
            else if (i.Status == 2)
            {
                <span>Đã hoàn thành</span> 
            }
            
          }
     }

</div>
           
