@model WebsiteBanTraiCay.Models.MUser
@if (Model.Email == "lelaii200398@gmail.com")
{
    <ul class="list-group list-group-unbordered mb-3">
        <li class="list-group-item">
            <b>Followers</b> <a class="float-right">1,322</a>
        </li>
        <li class="list-group-item">
            <b>Following</b> <a class="float-right">543</a>
        </li>
        <li class="list-group-item">
            <b>Friends</b> <a class="float-right">13,287</a>
        </li>
    </ul>
}
