@model IEnumerable<WebsiteBanTraiCay.Models.MPost>
<div class="col-sm-2">
    <div class="exp-news">
        <div class="pl-2 py-2 border-bottom border-light">
            <div class="fb-like" data-href="https://www.facebook.com/Gia-D%E1%BB%A5ng-R%E1%BA%BB-Gia-Lai-108487101091890" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
        </div>
        <div class="title text-dark font-weight-bold">
            <a href="~/tin-tuc" class="text-dark text-decoration-none">TIN TỨC NỔI BẬT - MỚI NHẤT</a> <i class="fas fa-caret-right"></i>
        </div>

        @foreach (var u in Model)
        {
            <div class="des-exp">

                <a href="~/@u.Slug" class="text-dark text-decoration-none">

                    @u.Title
                </a>
            </div>
        }
        <div class="mb-4"></div>
        
    </div>
</div>
